# Data Cleaning

Data files:

In [1]:
raw = './data/raw_collated.csv'

Imports:

In [2]:
import numpy as np
import pandas as pd

## Cleaning data

In [3]:
df = pd.read_csv(raw, index_col=0)

/home/geodev/anaconda3/envs/geothack/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head()

,Type,Geothermal Province,State,Field,Well ID,Sample ID,Depth (ft),AMU1,AMU2,AMU3,...,AMU176.UNKN,AMU177.UNKN,AMU178.UNKN,AMU179.UNKN,AMU180.UNKN,FIT Well,Unnamed: 188,Unnamed: 8,Unnamed: 9,Unnamed: 187
0,Transform Extension,Sierra Nevada,California,COSO,15A-17,2202,510,0,294200.0,53.30,...,0.0,0.00,2434.00,0.0,0.000,NaN,NaN,NaN,NaN,NaN
1,Transform Extension,Sierra Nevada,California,COSO,15A-17,2203,530,0,320600.0,48.95,...,0.0,80.84,59.98,0.0,11.450,NaN,NaN,NaN,NaN,NaN
2,Transform Extension,Sierra Nevada,California,COSO,15A-17,2204,550,0,385400.0,159.40,...,592.6,0.00,580.30,0.0,27.630,NaN,NaN,NaN,NaN,NaN
3,Transform Extension,Sierra Nevada,California,COSO,15A-17,2205,570,0,448600.0,122.90,...,376.7,0.00,577.80,6065.0,0.000,NaN,NaN,NaN,NaN,NaN
4,Transform Extension,Sierra Nevada,California,COSO,15A-17,2206,590,0,293800.0,47.05,...,241.1,33.28,378.30,5696.0,1.211,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(9712, 192)

In [6]:
# yields ValueError: ValueError: could not convert string to float: 'STD'
#df['Depth (ft)'].astype('float64')

In [7]:
df['Depth (ft)'].str.contains('STD', na=False)

0      False
1      False
2      False
3      False
4      False
       ...
391    False
392    False
393    False
394    False
395    False
Name: Depth (ft), Length: 9712, dtype: bool

In [8]:
df[df['Depth (ft)'].str.contains('STD', na=False)]

,Type,Geothermal Province,State,Field,Well ID,Sample ID,Depth (ft),AMU1,AMU2,AMU3,...,AMU176.UNKN,AMU177.UNKN,AMU178.UNKN,AMU179.UNKN,AMU180.UNKN,FIT Well,Unnamed: 188,Unnamed: 8,Unnamed: 9,Unnamed: 187
218,Transform Extension,Sierra Nevada,California,COSO,15A-17,2420,STD,0,652700.0,73.74,...,0.088880,0.000000e+00,0.000000e+00,3.666000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
99,Transform Extension,Sierra Nevada,California,COSO,23A-17,2640,STD,0,1328000.0,240.00,...,0.000000,9.944000e-01,0.000000e+00,1.098000e+01,0.000000e+00,NaN,NaN,NaN,NaN,NaN
319,Transform Extension,Sierra Nevada,California,COSO,23A-17,2860,STD,0,512300.0,41.40,...,4.100000,0.000000e+00,3.756000e+01,2.360000e+01,6.079000e+02,NaN,NaN,NaN,NaN,NaN
354,Transform Extension,Sierra Nevada,California,COSO,23A-17,2895,STD,0,424500.0,190.40,...,0.000000,0.000000e+00,2.535000e-15,3.266000e-15,0.000000e+00,NaN,NaN,NaN,NaN,NaN
355,Transform Extension,Sierra Nevada,California,COSO,23A-17,2896,STD,0,414300.0,192.80,...,0.000000,0.000000e+00,2.085000e-02,1.861000e-01,0.000000e+00,NaN,NaN,NaN,NaN,NaN
356,Transform Extension,Sierra Nevada,California,COSO,23A-17,2897,STD,0,352700.0,190.40,...,0.008075,1.963000e-01,3.365000e-15,4.339000e-15,3.406000e-01,NaN,NaN,NaN,NaN,NaN
357,Transform Extension,Sierra Nevada,California,COSO,23A-17,2898,STD,0,533800.0,45.89,...,0.027780,8.909000e-02,0.000000e+00,2.932000e-01,3.758000e-15,NaN,NaN,NaN,NaN,NaN
358,Transform Extension,Sierra Nevada,California,COSO,23A-17,2899,STD,0,1116000.0,287.00,...,0.000000,2.927000e-15,2.531000e-15,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
359,Transform Extension,Sierra Nevada,California,COSO,23A-17,2900,STD,0,854200.0,121.70,...,0.090050,1.770000e-02,1.372000e-01,0.000000e+00,5.942000e-01,NaN,NaN,NaN,NaN,NaN
360,Transform Extension,Sierra Nevada,California,COSO,23A-17,2901,STD,0,693300.0,126.40,...,0.077140,0.000000e+00,3.634000e-01,6.932000e-01,0.000000e+00,NaN,NaN,NaN,NaN,NaN
361,Transform Extension,Sierra Nevada,California,COSO,23A-17,2902,STD,0,1163000.0,329.80,...,0.228600,0.000000e+00,0.000000e+00,1.585000e-01,7.869000e-02,NaN,NaN,NaN,NaN,NaN
362,Transform Extension,Sierra Nevada,California,COSO,23A-17,2903,STD,0,467200.0,165.00,...,0.281200,0.000000e+00,3.071000e-02,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
363,Transform Extension,Sierra Nevada,California,COSO,23A-17,2904,STD,0,1058000.0,252.60,...,0.020610,0.000000e+00,2.585000e-15,2.170000e-02,0.000000e+00,NaN,NaN,NaN,NaN,NaN
365,Transform Extension,Sierra Nevada,California,COSO,23A-17,2906,STD,0,664800.0,107.90,...,0.111600,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
94,Transform Extension,Sierra Nevada,California,COSO,23A-19,3520,STD,0,715100.0,156.40,...,0.000000,0.000000e+00,0.000000e+00,2.637000e+01,0.000000e+00,23A-19,NaN,NaN,NaN,NaN
314,Transform Extension,Sierra Nevada,California,COSO,23A-19,3740,STD,0,1531000.0,406.20,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,23A-19,NaN,NaN,NaN,NaN
44,Transform Extension,Sierra Nevada,California,COSO,24A-8,880,STD,880.0 0.0000E+00,543500.0,190.30,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,24A-8,NaN,NaN,NaN,NaN
264,Transform Extension,Sierra Nevada,California,COSO,24A-8,1100,STD,1102.0 0.0000E+00,619500.0,160.60,...,0.000000,0.000000e+00,1.769000e+02,9.495000e+02,0.000000e+00,24A-8,NaN,NaN,NaN,NaN
164,Transform Extension,Sierra Nevada,California,COSO,41B-8,1320,STD,0,487500.0,119.30,...,8.057000,0.000000e+00,8.877000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
76,Transform Extension,Sierra Nevada,California,COSO,54-7RD,-,STD,0.0,894600.0,262.70,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2.504000e+01,54-7RD,NaN,NaN,NaN,NaN
77,Transform Extension,Sierra Nevada,California,COSO,54-7RD,-,STD,0.0,752200.0,226.70,...,9.132000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,54-7RD,NaN,NaN,NaN,NaN
182,Transform Extension,Sierra Nevada,California,COSO,NaN,-,STD,0.0,1557000.0,387.40,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
0,Transform Extension,Sierra Nevada,California,COSO,68-6,1,STD,0.0,762200.0,247.10,...,14.920000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,68-6,NaN,NaN,NaN,NaN
219,Transform Extension,Sierra Nevada,California,COSO,68-6,220,STD,0.0,1036000.0,419.40,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,68-6,NaN,NaN,NaN,NaN
439,Transform Extension,Sierra Nevada,California,COSO,68-6,440,STD,0.0,480100.0,134.30,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,68-6,NaN,NaN,NaN,NaN
75,Transform Extension,Sierra Nevada,California,COSO,NaN,1760,STD,0.0,374300.0,126.70,...,0.000000,0.000000e+00,9.786000e+00,5.588000e+00,2.104000e+00,NaN,NaN,NaN,NaN,NaN
515,Transform Extension,Sierra Nevada,California,COSO,83B-16,2200,STD,0,513300.0,187.70,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,83B-16,NaN,NaN,NaN,NaN
516,Transform Extension,Sierra Nevada,California,COSO,83B-16,2201,STD,0,679700.0,158.60,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,6.403000e-01,83B-16,NaN,NaN,NaN,NaN
151,Transform Extension,Sierra Nevada,California,COSO,NaN,3080,STD,0,359700.0,29.91,...,0.000000,0.000000e+00,9.928000e-02,0.000000e+00,7.834000e-02,NaN,NaN,NaN,NaN,NaN
371,Transform Extension,Sierra Nevada,California,COSO,NaN,3300,STD,0,799300.0,88.70,...,0.659400,9.011000e-14,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
97,Transform Extension,Sierra Nevada,California,COSO,NaN,3960,STD,0,791200.0,130.10,...,0.000000,1.237000e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN
317,Transform Extension,Sierra Nevada,California,COSO,NaN,4180,STD,0,657800.0,219.70,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN

In [9]:
df[df['Depth (ft)'].str.contains('-', na=False)]

,Type,Geothermal Province,State,Field,Well ID,Sample ID,Depth (ft),AMU1,AMU2,AMU3,...,AMU176.UNKN,AMU177.UNKN,AMU178.UNKN,AMU179.UNKN,AMU180.UNKN,FIT Well,Unnamed: 188,Unnamed: 8,Unnamed: 9,Unnamed: 187
418,Transform Extension,Sierra Nevada,California,COSO,337,419,-,0,226300.0,0.000,...,35.37,8.6680,0.00,0.00,0.00,33-7,NaN,NaN,NaN,NaN
419,Transform Extension,Sierra Nevada,California,COSO,337,420,-,0,276700.0,14.350,...,0.00,0.0000,0.00,0.00,0.00,33-7,NaN,NaN,NaN,NaN
420,Transform Extension,Sierra Nevada,California,COSO,337,421,-,0,265100.0,28.990,...,25.25,0.0000,0.00,0.00,0.00,33-7,NaN,NaN,NaN,NaN
421,Transform Extension,Sierra Nevada,California,COSO,337,422,-,0,204900.0,11.230,...,14.54,0.0000,0.00,0.00,47.41,33-7,NaN,NaN,NaN,NaN
422,Transform Extension,Sierra Nevada,California,COSO,337,423,-,0,184000.0,9.571,...,0.00,5.3740,0.00,170.40,0.00,33-7,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,Transform Extension,Sierra Nevada,California,COSO,337,500,-,0,919200.0,106.000,...,0.00,0.8952,70.24,12.49,59.66,33-7,NaN,NaN,NaN,NaN
500,Transform Extension,Sierra Nevada,California,COSO,337,501,-,0,1070000.0,190.800,...,0.00,6.7210,0.00,356.90,32.60,33-7,NaN,NaN,NaN,NaN
501,Transform Extension,Sierra Nevada,California,COSO,337,502,-,0,605100.0,37.060,...,21.25,61.7300,0.00,0.00,0.00,33-7,NaN,NaN,NaN,NaN
502,Transform Extension,Sierra Nevada,California,COSO,337,503,-,0,543700.0,40.650,...,0.00,75.8500,0.00,0.00,100.10,33-7,NaN,NaN,NaN,NaN
503,Transform Extension,Sierra Nevada,California,COSO,337,504,-,0,733200.0,56.170,...,0.00,71.6000,17.93,0.00,233.80,33-7,NaN,NaN,NaN,NaN

In [10]:
df.loc[df['Depth (ft)'].str.contains('-', na=False), 'Depth (ft)'] = np.nan
df.loc[df['Depth (ft)'].str.contains('STD', na=False), 'Depth (ft)'] = np.nan

In [11]:
df['Depth (ft)'] = df['Depth (ft)'].astype('float64')

In [12]:
df['Depth (ft)'].dtypes

dtype('float64')

In [13]:
#df['Sample ID'].astype('float64')

In [15]:
df.loc[df['Sample ID'].str.contains('-', na=False), 'Sample ID'] = np.nan

In [16]:
df['Sample ID'] = df['Sample ID'].astype('float64')

In [17]:
# yields ValueError: could not convert string to float: '836.0 0.0000E+00'
#df.iloc[:, 7].astype('float64')

In [18]:
df.columns[7]

'AMU1'

In [19]:
df.loc[df['AMU1'].str.contains('E+', regex=False, na=False) == True]

,Type,Geothermal Province,State,Field,Well ID,Sample ID,Depth (ft),AMU1,AMU2,AMU3,...,AMU176.UNKN,AMU177.UNKN,AMU178.UNKN,AMU179.UNKN,AMU180.UNKN,FIT Well,Unnamed: 188,Unnamed: 8,Unnamed: 9,Unnamed: 187
0,Transform Extension,Sierra Nevada,California,COSO,24A-8,836.0,480.0,836.0 0.0000E+00,341700.0,62.62,...,3.43700,0.00,10.9,6.177,0.00,24A-8,NaN,NaN,NaN,NaN
1,Transform Extension,Sierra Nevada,California,COSO,24A-8,837.0,500.0,837.0 0.0000E+00,327000.0,75.95,...,0.00000,17.73,0.0,55.230,11.29,24A-8,NaN,NaN,NaN,NaN
2,Transform Extension,Sierra Nevada,California,COSO,24A-8,838.0,520.0,838.0 0.0000E+00,368700.0,112.30,...,3.09100,0.00,0.0,0.000,0.00,24A-8,NaN,NaN,NaN,NaN
3,Transform Extension,Sierra Nevada,California,COSO,24A-8,839.0,540.0,839.0 0.0000E+00,494800.0,166.60,...,0.00000,0.00,0.0,0.000,0.00,24A-8,NaN,NaN,NaN,NaN
4,Transform Extension,Sierra Nevada,California,COSO,24A-8,840.0,560.0,840.0 0.0000E+00,381800.0,75.10,...,4.40900,23.02,0.0,0.000,0.00,24A-8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,Transform Extension,Sierra Nevada,California,COSO,24A-8,1144.0,6480.0,1146.0 0.0000E+00,515900.0,172.50,...,0.00000,0.00,131.2,646.900,16.13,24A-8,NaN,NaN,NaN,NaN
309,Transform Extension,Sierra Nevada,California,COSO,24A-8,1145.0,6500.0,1147.0 0.0000E+00,620700.0,153.30,...,2.34900,0.00,276.3,0.000,0.00,24A-8,NaN,NaN,NaN,NaN
310,Transform Extension,Sierra Nevada,California,COSO,24A-8,1146.0,6520.0,1148.0 0.0000E+00,638200.0,207.40,...,0.02781,0.00,0.0,0.000,0.00,24A-8,NaN,NaN,NaN,NaN
311,Transform Extension,Sierra Nevada,California,COSO,24A-8,1147.0,6540.0,1149.0 0.0000E+00,554200.0,148.40,...,0.00000,0.00,231.8,0.000,0.00,24A-8,NaN,NaN,NaN,NaN
312,Transform Extension,Sierra Nevada,California,COSO,24A-8,1148.0,6560.0,1150.0 0.0000E+00,515900.0,108.80,...,0.00000,0.00,0.0,0.000,0.00,24A-8,NaN,NaN,NaN,NaN

In [20]:
#df[df['Well ID'] == '24A-8'][-50:]

In [21]:
df.loc[(df['AMU1'].str.contains('E+', regex=False, na=False) == True) &
       (df['Well ID'] == '24A-8'), 'AMU1'] = np.nan

In [22]:
df.loc[df['Well ID'] == '24A-8', 'AMU1'] = np.nan

In [23]:
df.loc[df['Well ID'] == '24A-8', 'AMU1'].astype('float64')

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
315   NaN
316   NaN
317   NaN
318   NaN
319   NaN
Name: AMU1, Length: 320, dtype: float64

In [25]:
df.to_csv('./data/cleaned_types.csv', index=False)

In [24]:
df = pd.read_csv('./data/cleaned_types.csv')

In [25]:
df.head()

,Type,Geothermal Province,State,Field,Well ID,Sample ID,Depth (ft),AMU1,AMU2,AMU3,...,AMU176.UNKN,AMU177.UNKN,AMU178.UNKN,AMU179.UNKN,AMU180.UNKN,FIT Well,Unnamed: 188,Unnamed: 8,Unnamed: 9,Unnamed: 187
0,Transform Extension,Sierra Nevada,California,COSO,15A-17,2202.0,510.0,0.0,294200.0,53.30,...,0.0,0.00,2434.00,0.0,0.000,NaN,NaN,NaN,NaN,NaN
1,Transform Extension,Sierra Nevada,California,COSO,15A-17,2203.0,530.0,0.0,320600.0,48.95,...,0.0,80.84,59.98,0.0,11.450,NaN,NaN,NaN,NaN,NaN
2,Transform Extension,Sierra Nevada,California,COSO,15A-17,2204.0,550.0,0.0,385400.0,159.40,...,592.6,0.00,580.30,0.0,27.630,NaN,NaN,NaN,NaN,NaN
3,Transform Extension,Sierra Nevada,California,COSO,15A-17,2205.0,570.0,0.0,448600.0,122.90,...,376.7,0.00,577.80,6065.0,0.000,NaN,NaN,NaN,NaN,NaN
4,Transform Extension,Sierra Nevada,California,COSO,15A-17,2206.0,590.0,0.0,293800.0,47.05,...,241.1,33.28,378.30,5696.0,1.211,NaN,NaN,NaN,NaN,NaN

In [26]:
df.shape

(9712, 192)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9712 entries, 0 to 9711
Columns: 192 entries, Type to Unnamed: 187
dtypes: float64(186), object(6)
memory usage: 14.2+ MB

In [28]:
for col in df.columns:
    if df[col].dtype != 'float64':
        print(col, df[col].dtype)

Type object
Geothermal Province object
State object
Field object
Well ID object
FIT Well object

In [29]:
df.head()

,Type,Geothermal Province,State,Field,Well ID,Sample ID,Depth (ft),AMU1,AMU2,AMU3,...,AMU176.UNKN,AMU177.UNKN,AMU178.UNKN,AMU179.UNKN,AMU180.UNKN,FIT Well,Unnamed: 188,Unnamed: 8,Unnamed: 9,Unnamed: 187
0,Transform Extension,Sierra Nevada,California,COSO,15A-17,2202.0,510.0,0.0,294200.0,53.30,...,0.0,0.00,2434.00,0.0,0.000,NaN,NaN,NaN,NaN,NaN
1,Transform Extension,Sierra Nevada,California,COSO,15A-17,2203.0,530.0,0.0,320600.0,48.95,...,0.0,80.84,59.98,0.0,11.450,NaN,NaN,NaN,NaN,NaN
2,Transform Extension,Sierra Nevada,California,COSO,15A-17,2204.0,550.0,0.0,385400.0,159.40,...,592.6,0.00,580.30,0.0,27.630,NaN,NaN,NaN,NaN,NaN
3,Transform Extension,Sierra Nevada,California,COSO,15A-17,2205.0,570.0,0.0,448600.0,122.90,...,376.7,0.00,577.80,6065.0,0.000,NaN,NaN,NaN,NaN,NaN
4,Transform Extension,Sierra Nevada,California,COSO,15A-17,2206.0,590.0,0.0,293800.0,47.05,...,241.1,33.28,378.30,5696.0,1.211,NaN,NaN,NaN,NaN,NaN